# Learn more: https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# Dependencies
node_modules/

# Expo / EAS
.expo/
.expo-shared/
dist/
build/
web-build/
*.turtle/
*.tar.gz
*.zip
*.apk
*.aab
expo-env.d.ts

# Firebase (Sensitive files)
google-services.json
GoogleService-Info.plist
firebase-adminsdk.json
serviceAccountKey.json
fcm-service-account.json


# Environment Variables / Local Config
.env
.env.*
.env*.local

# Metro / Cache
.cache/
metro-cache/
tmp/
*.tmp
.metro-health-check*

# Native Builds (iOS / Android)
ios/build/
android/app/build/
android/.gradle/
android/.idea/
*.keystore
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Debug Logs
npm-debug.*
yarn-debug.*
yarn-error.*
*.log

# IDE / OS Specific
.DS_Store
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*.orig.*
*.pem

# TypeScript
*.tsbuildinfo

# Misc
app-example
